<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <title>Chargement...</title>
  </head>

  <body>
    <div class="center" style="font-size: 50px;">Chargement...</div>
  </body>
  <script>
    setTimeout(() => {
        window.location.href = "/login"
    }, 2000)
    
  </script>
</html>
